{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": 0
  }
}
